@model UKRTB_journal.Models.MetodFileWithInfo
@{
    ViewBag.Title = "Добавление методички";
}
<form asp-action="UploadFile" asp-controller="MetodFiles" method="post" enctype="multipart/form-data" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="MetodFileDescription.PublicName" class="control-label">Название для списка</label>
        <textarea name="FileDescription.PublicName" class="form-control" ></textarea>></><br />
        <span asp-validation-for="MetodFileDescription.PublicName"></span>
    </div>
    <div class="form-group">
        <label asp-for="MetodFileDescription.Type" class="control-label">Тип</label><br />
        <select asp-for="MetodFileDescription.Type" asp-items="Html.GetEnumSelectList<TypeOfFile>()" class="form-control"></select>
        <span asp-validation-for="MetodFileDescription.Type"></span>
    </div>
   <div class="form-group">
        <label asp-for="MetodFileDescription.Description" class="control-label">Описание</label>
        <textarea name="FileDescription.Description" class="form-control" ></textarea>></><br />
        <span asp-validation-for="MetodFileDescription.Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label">Файл</label>
        <input type="file" asp-for="File" class="form-control" /><br />
        <span asp-validation-for="File"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Добавить" />
    </div>
</form>

@section scripts
{
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}