@model List<UKRTB_journal.Models.MetodFileDescription>
@inject UKRTB_journal.Services.IInfoService InfoService
@{
    ViewBag.Title = "Удаление методички";
}

<div>
    <div>
        <form asp-controller="MetodFiles" asp-action="Delete" method="post">
           <label>Выберите методичку&nbsp;</label>
            <select name="id" class="form-select">
               @foreach (UKRTB_journal.Models.MetodFileDescription metodFile in @Model)
                {
                    <option value="@metodFile.Id">@metodFile.PublicName</option>
                }
            </select>
            &nbsp;<input type="submit" class="btn btn-primary" value="Удалить" />
        </form>
    </div>
</div>
