@model UKRTB_journal.Models.MetodFileDescription
@inject UKRTB_journal.Services.IInfoService InfoService
@{
    ViewBag.Title = "Удаление методички";
}

<div>
    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>
            @Html.DisplayFor(model => model.PublicName)
        </dd>
        <dt>Тип</dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>Дата загрузки</dt>

        <dt>Примечание:</dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>      

    </dl>

    <div>
        <form asp-controller="Files" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Удалить" />
            </div>
        </form>
    </div>
</div>
