@model UKRTB_journal.Models.Group
@{
    ViewBag.Title = "Удаление группы";
}

<div>
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>Группа</dt>
        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>
        <dt>Email</dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>

    <div>
        <form asp-controller="Groups" asp-action="Delete" method="post" asp-route-groupId="@Model.Id">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Удалить" />
            </div>
        </form>
    </div>
</div>
